{% extends "layout.html" %}
{% block content %}
    <h1 class='text-3xl'>Edit Item</h1>

    <form method="POST" enctype="multipart/form-data" class='space-y-4'>
      {% csrf_token %}
      {% comment %} {{ form.as_p }}  {% endcomment %}
      {{ form.name }} <br>
      {{ form.price }} <br>
      {{ form.image }}
      {% if item and item.image %}
      <img
        src="{{ item.image.url }}"
        alt="Item Image"
        style="max-width: 200px"
      />
      {% endif %}
      <button class="btn btn-primary" type="submit">Update Item</button>
    </form>
  {%endblock%}
