{% extends "layout.html" %} {% block content %}
<div class='flex flex-col justify-center items-center w-full h-full'>
  <div class="flex justify-center items-center text-4xl font-bold italic underline mt-4">
    <h1>Inventory Management System</h1>
  </div>

  <div
    class="flex flex-col justify-center items-center mt-10 font-semibold space-y-8"
  >
    <a class="btn btn-warning px-8" href="{% url 'supplier_page' %}"
      >Suppliers</a
    >

    <a class="btn btn-warning px-8" href="{% url 'items_page' %}">Items</a>

    <a class="btn btn-warning px-8" href="{% url 'purchase_master_list' %}"
      >Purchase</a
    >

    <a class="btn btn-warning px-8" href="{% url 'sales_master_list' %}">Sales</a>

    <a class="btn btn-warning px-8" href="{% url 'report_page'%}">Stock Report</a>
    <a class="btn btn-warning px-8" href="{% url 'detail_report_page'%}">Detail Report</a>
  </div>
</div>

{% endblock%}
