{% extends "layout.html" %}
{%block content%}
<form method="post">
    {% csrf_token %}
    {{ purchase_form.supplier_id }} 
    {{ purchase_form.sub_total }} 
    
 
    {{ temp_form.item_id }} 
    {{ temp_form.quantity }}

    <button type="submit" name="add_item">Add Item</button>

    <ul>
        {% for item in temp_items %}
        <li>{{ item.item_id.name }} - {{ item.quantity }} - {{ item.items_total }}</li>
        {% endfor %}
    </ul>

    <button type="submit" name="finalize_purchase">Finalize Purchase</button>
</form>

    {%endblock%}

