{%extends 'layout.html'%}
{%block content%}

    <div class='flex justify-between mx-2'>
        <h1 class='text-3xl'>Purchase List</h1>
        <a href="{% url 'purchase-page' %}" class='text-bold btn btn-primary mb-2'>New Purchase</a>
    </div>

    <table class='table mt-4'>
        <thead>
            <tr>
                <th>Sl No.</th>
                <th>Invoice No.</th>
                <th>Supplier</th>
                <th>Sub Total</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
            <tr>
                <td scope="row">{{ forloop.counter }}</td>
                <td>{{ purchase.invoice_number }}</td>
                <td>{{ purchase.supplier_id.name }}</td>
                <td>₹{{ purchase.sub_total }}/-</td>
                <td>{{ purchase.created_at }}</td>
                <td>
                    <a href="{% url 'purchase_detail_view' purchase.id %}" class='btn btn-primary'>View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}
